.areas {
  background-color: #e7f4f4;
  border-radius: 5rem 5rem 0 0;
  padding: 10.6rem 0 16rem;
  @include sp {
    padding: 7rem 0 8rem;
    border-radius: 3.2rem 3.2rem 0rem 0rem;
  }
  &__container {
    width: 116.6rem;
    margin: auto;
    @include sp {
      width: 32.7rem;
    }
  }
  &__title {
    text-align: center;
    color: $color1;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.6rem; /* 127.273% */
    letter-spacing: 0.044rem;
    margin-bottom: 5rem;
    @include sp {
      font-size: 2.8rem;
      line-height: 4rem; /* 142.857% */
      letter-spacing: 0.028rem;
      text-align: left;
      margin-bottom: 3rem;
    }
  }
  &__copy {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.6rem; /* 225% */
    margin-bottom: 7rem;
    @include sp {
      font-size: 1.4rem;
      line-height: 2.8rem; /* 200% */
      letter-spacing: 0.014rem;
      text-align: left;
      margin-bottom: 3.8rem;
    }
  }
  &__shema {
    filter: drop-shadow(0px 0px 11.317px rgba(0, 108, 96, 0.2));
  }
  &__shema__head {
    background-color: white;
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 3.7rem 6.5rem 4.3rem 4rem;
    @include sp {
      padding: 2.8rem 1.3rem 3.2rem 0.9rem;
    }
  }
  // &__shema__head-picture {
  // }
  &__shema__body {
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    background: $color1;
    padding: 1.3rem 3.9rem 2.8rem;
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-direction: column;
      padding: 2.6rem 2rem 2.4rem;
    }
  }
  &__shema__body-title {
    color: #fff;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.4rem; /* 183.333% */
    letter-spacing: 0.024rem;
    @include sp {
      font-size: 1.8rem;
      line-height: 1.4rem; /* 77.778% */
      letter-spacing: 0.018rem;
    }
  }
  &__shema__body-button {
    margin-top: 1.5rem;
    a {
      color: $color1;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.2rem; /* 157.143% */
      letter-spacing: 0.028rem;
      display: inline-flex;
      height: 3rem;
      width: 14.3rem;
      align-items: center;
      justify-content: center;
      padding-left: 0.3rem;
      border-radius: 7.2rem;
      background: #fff;
      border: 1px solid #fff;
      svg {
        width: 2.1rem;
        margin-left: 1rem;
        fill: $color1;
        transition: all 0.3s ease-in-out;
      }
      @include pc {
        transition: all 0.3s ease-in-out;
        &:hover {
          background: $color1;
          color: #fff;
          svg {
            fill: #fff;
            transform: translate3d(0.5rem, 0, 0);
          }
        }
      }
    }
  }
  &__shema__body-text {
    color: #fff;
    text-align: justify;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 200% */
    letter-spacing: 0.028rem;
    width: 87.1rem;
    padding-top: 1.3rem;
    @include sp {
      width: 100%;
      padding-top: 1.3rem;
    }
  }
  &__listsContainer {
    width: 105.7rem;
    margin: 7.8rem auto 0;
    @include sp {
      width: 100%;
      margin: 4.9rem auto 0;
    }
  }
  &__list {
    display: flex;
    @include sp {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }
  &__list-title {
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-orientation: upright;
    writing-mode: vertical-rl;
    width: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.18em;
    border-radius: 0.8rem 0 0 0.8rem;
    @include sp {
      font-size: 1.6rem;
      letter-spacing: 0.016rem;
      width: 100%;
      padding: 1rem 0 1rem;
      writing-mode: horizontal-tb;
      text-orientation: mixed;
      border-radius: 0.8rem 0.8rem 0rem 0rem;
    }
  }
  &__list-block {
    border-radius: 0rem 0.8rem 0.8rem 0rem;
    background: #fff;
    width: calc(100% - 4.8rem);
    padding: 0 4rem;
    @include sp {
      width: 100%;
      padding: 0.8rem 2rem;
      border-radius: 0rem 0rem 0.8rem 0.8rem;
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    height: 7.9rem;
    position: relative;
    @include sp {
      flex-wrap: wrap;
      height: auto;
      padding: 2rem 0 2.4rem;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #cce2df;
    }
  }
  &__list-item-title {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 25.3rem;
    span {
      color: #fff;
      font-family: $sans;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      display: flex;
      width: 4rem;
      height: 2.2rem;
      justify-content: center;
      align-items: center;
      border-radius: 2.6rem;
      margin-right: 1.1rem;
      @include sp {
        font-size: 1rem;
        width: 3.1rem;
        height: 1.8rem;
        border-radius: 2rem;
      }
    }
  }
  &__list-item-copy {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 128.571% */
    letter-spacing: 0.028rem;
    max-width: 50rem;
    @include sp {
      max-width: 100%;
      margin-top: 0.6rem;
      font-size: 1.4rem;
      line-height: 2.4rem; /* 171.429% */
      letter-spacing: 0.028rem;
    }
  }
  &__list-item-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include sp {
      position: static;
      margin-top: 0.9rem;
      transform: none;
    }
    a,
    span {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.2rem; /* 157.143% */
      letter-spacing: 0.028rem;
      border-radius: 6.1rem;
      width: 14.3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sp {
        height: 3.3rem;
      }
      svg {
        width: 2.1rem;
        margin-left: 1rem;
        fill: white;
        transition: all 0.3s ease-in-out;
      }
    }
    a {
      background: $color1;
      color: #fff;
      border: 1px solid $color1;
      @include pc {
        transition: all 0.3s ease-in-out;
        &:hover {
          background: #fff;
          color: $color1;
          svg {
            transform: translate3d(0.5rem, 0, 0);
            fill: $color1;
          }
        }
      }
    }
    span {
      background: #eaeaea;
    }
  }
}
