.interviews {
  // padding: 15.36rem 0 10rem;
  padding: 15.36rem 0 2rem;
  overflow: hidden;
  @include sp {
    // padding: 8rem 0 8.7rem;
    padding: 8rem 0 0rem;
  }
  &__container {
    display: flex;
    max-width: 144rem;
    margin: auto;
    @include sp {
      flex-direction: column;
      max-width: 100%;
    }
  }
  &__text-area {
    width: 51.4rem;
    padding: 1.3rem 1rem 1rem 8.1rem;
    position: relative;
    z-index: 2;
    @include sp {
      width: 100%;
      padding: 1.3rem 2rem 1rem;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 1rem;
      width: 50vw;
      height: 100%;
      background-color: white;
      z-index: -1;
      @include sp {
        display: none;
      }
    }
  }
  &__text-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.4rem; /* 212.5% */
    max-width: 35rem;
    margin: 4.8rem 0 4.4rem;
    @include sp {
      font-size: 1.4rem;
      line-height: 2.8rem; /* 200% */
      letter-spacing: 0.014rem;
      margin: 3.5rem 0 1rem;
    }
  }
  &__slider-area {
    width: 92.6rem;
    @include sp {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  &__slider {
    position: relative;

    @include sp {
      overflow: scroll;
    }
  }
  &__slider-wrapper {
    display: flex;
    width: fit-content;
    padding: 1rem;
  }
  &__slider-controls {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto 0 3rem;
    width: 83.7rem;
    @include sp {
      display: none;
    }
  }
  &__slider-progress {
    display: flex;
    align-items: center;
  }
  &__slider-progress-bar {
    width: 66.3rem;
    height: 2px;
    background-color: #e6f0ef;
    position: relative;
    div {
      background-color: $color1;
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: left;
    }
  }
  &__slider-buttons {
    display: flex;
    button {
      width: 6.4rem;
      height: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::after {
        content: '';
        background-color: $color1;
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: -1;
        transition: all 0.4s $ease-back;
      }
      @include pc {
        &:not(.disabled):hover {
          &::after {
            transform: translate(-50%, -50%) scale(1.08);
          }
        }
      }
      svg {
        width: 2.1rem;
        fill: #fff;
        transition: fill 0.3s ease-in-out;
      }
      &.disabled {
        pointer-events: none;
        &::after {
          background-color: #dfe7e0;
        }
        svg {
          fill: #a0ada7;
        }
      }
    }
  }
  &__slider-prev {
    svg {
      transform: rotate(180deg);
    }
  }
  &__slider-next {
    margin-left: 1.2rem;
  }
}
