.profile {
  padding: 8.9rem 0 8rem;
  @include sp {
    padding: 6.9rem 2rem 0rem;
  }
  .basic-title-en,
  .basic-title-ja {
    @include pc {
      text-align: center;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 105.8rem;
    gap: 1rem;
    margin: 6.3rem auto 0;
    @include sp {
      grid-template-columns: 1fr;
      width: 100%;
      margin: 4.5rem 0 0;
    }
  }
  &__item {
    border-radius: 1.2rem;
    background: #e7f4f4;
    padding: 2.2rem 1.9rem 2.5rem 1.9rem;
    @include sp {
      padding: 1.2rem 1.2rem 2.5rem;
    }
  }
  &__item-title {
    color: $color1;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    border-radius: 2.6rem;
    background: #fff;
    @include sp {
      font-size: 1.6rem;
      letter-spacing: 0.016rem;
      height: 3.2rem;
    }
  }
  &__item-number {
    color: $color1;
    font-family: $sans;
    font-size: 10rem;
    font-weight: 500;
    line-height: 6.4rem; /* 64% */
    letter-spacing: -0.1rem;
    text-align: center;
    margin: 6.3rem 0 4.6rem;
    @include sp {
      font-size: 8rem;
      letter-spacing: -0.08rem;
      margin: 2.4rem 0 1.6rem;
    }
    span {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5rem; /* 75% */
      @include sp {
        font-size: 2rem;
      }
    }
  }
  &__item-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
    letter-spacing: 0.028rem;
    padding: 0 2rem;
    @include sp {
      font-size: 1.4rem;
      line-height: 2.6rem; /* 185.714% */
      letter-spacing: 0.028rem;
      padding: 0;
    }
  }
}
