---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="ダミー" description="ダミーダミーダミーダミーダミーダミー">
  <section class="video inview fadeIn">
    <div
      class="video__container"
      style="max-width: 80rem; margin: 20rem auto; background:red;height:40rem"
    >
    </div>
  </section>
</Layout>
