.InterviewList {
  padding: 12rem 0 4rem;
  @include sp {
    padding: 3rem 0 0rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 108.8rem;
    margin: 0 auto -4rem;
    @include sp {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      padding: 3rem 1rem;
    }
  }
}
