@use 'sass:math';
// colors
$color1: #006c60;
$color2: #e7f4f4;
$color3: #00aeb9;
$text: #0f2a21;

$category1: #00aeb9;
$category2: #1477ae;

//eases
$ease-back: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$ease-custom1: cubic-bezier(0.23, 1, 0.32, 1);
$ease-custom2: cubic-bezier(0.215, 0.61, 0.355, 1);

// fonts family
$gothic: 'Noto Sans JP Variable', 'Noto Sans JP', sans-serif;
$sans: 'Poppins', 'Noto Sans JP Variable', 'Noto Sans JP', sans-serif;

// responsive breakpoints
$xl: 1440px;
$sp: 768px;
$pc: 769px;
@mixin xl {
  @media only screen and (max-width: $xl) {
    @content;
  }
}
@mixin pc {
  @media only screen and (min-width: $pc) {
    @content;
  }
}
@mixin sp {
  @media only screen and (max-width: $sp) {
    @content;
  }
}

// vw
@function vw($px-vw, $base-vw: $xl) {
  $vw: math.div($px-vw * 100vw, $base-vw);
  @return math.div(round($vw * 1000), 1000);
}
