---
const { title, text } = Astro.props
---

<section class="about">
  <div class="about__container inview fadeIn pre-line">
    <h2 class="about__title">{title}</h2>
    <p class="about__text">{text}</p>
  </div>
</section>
