<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none">
  <title>go to the top</title>
  <path
    d="M24 13L21 20.3917L23.3284 19.4128L23.3284 34L24.6716 34L24.6716 19.4128L27 20.3917L24 13Z"
    fill="#006C60"></path>
</svg>
