<svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="0 0 9 7" fill="none">
  <title>external link</title>
  <rect x="0.4" y="0.4" width="6.15652" height="4.58947" stroke="#006C60" stroke-width="0.8"></rect>
  <path d="M8.00003 0.673828V6.40014H0.695679" stroke="#006C60" stroke-width="0.8"></path>
</svg>
